HACKCLUB_AUTH_CLIENT_ID="go get your at auth.hackclub.com"
HACKCLUB_AUTH_SECRET="go get your at auth.hackclub.com"

PORT=0123
APP_URL="http://localhost:0123"
HACKCLUB_AI_SERVER_URL="https://ai.hackclub.com/proxy/v1"
HACKCLUB_AI_API_KEY="go get your at ai.hackclub.com"